/* You can add global styles to this file, and also import other style files */
.todolist li label {
    margin-left: 0;
  }
  body {
      max-width: 100% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .logout {
     cursor: pointer;
     font-weight: bold;
  }
  .logout:hover {
      text-decoration: underline;
  }
  